@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Source+Code+Pro&family=Ultra&display=swap");
@font-face {
  font-family: wild;
  src: url("../../fonts/projekt-blackbird-v2.otf") format("opentype");
}
@font-face {
  font-family: Triaki;
  src: url("../../fonts/TriakisFont-Regular.otf") format("opentype");
}

@font-face {
  font-family: NaftaLight;
  src: url("../../fonts/NaftaLight-Regular.ttf") format("opentype");
}

$White: #ffffff;
$Black: #231b1b;
$Grey: #fdfffc;
$Blue: #1c6dd0;
$pink: #fa4eab;
.title {
  text-align: center;
  font-size: 15vh;
  font-weight: bold;
  padding: 0px;
  color: $Grey;
  letter-spacing: -0.1rem;
  font-family: "wild", sans-serif;
  text-shadow: -5px -5px 0 #fa4eab, 5px -5px 0 #fa4eab, -5px 5px 0 #fa4eab,
    5px 5px 0 #fa4eab;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 10vh;
  }
}
