@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Source+Code+Pro&family=Ultra&display=swap");
@font-face {
  font-family: wild;
  src: url("../../fonts/projekt-blackbird-v2.otf") format("opentype");
}
@font-face {
  font-family: Triaki;
  src: url("../../fonts/TriakisFont-Regular.otf") format("opentype");
}

@font-face {
  font-family: NaftaLight;
  src: url("../../fonts/NaftaLight-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Archia;
  src: url("../../fonts/Benvollin.otf") format("opentype");
}

$White: #ffffff;
$Black: #231b1b;
$Grey: #fdfffc;
$Blue: #1c6dd0;
$pink: #fa4eab;
.title {
  text-align: center;
  font-size: 15vh;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
  color: $Grey;
  letter-spacing: 0.5rem;
  font-family: "Archia", sans-serif;
  text-shadow: 4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b;

  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 10vh;
  }
}
