@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Ultra&display=swap");
@import url("http://openfontlibrary.org/face/8bit-wonder");
@font-face {
  font-family: wild;
  src: url("../../fonts/wild-world.otf") format("opentype");
}
@font-face {
  font-family: Triaki;
  src: url("../../fonts/TriakisFont-Regular.otf") format("opentype");
}

$White: #ffffff;
$Black: #231b1b;
$Grey: #fdfffc;
$Blue: #1c6dd0;
$pink: #fa4eab;
.title {
  text-align: center;
  font-size: 13vh;
  font-weight: bold;
  padding: 0px;
  color: $Grey;
  letter-spacing: -0.1rem;
  font-family: "Triaki", sans-serif;
  text-shadow: 0 1px 0 #231b1b, 0 2px 0 #231b1b, 0 3px 0 #231b1b,
    0 4px 0 #231b1b, 0 5px 0 #231b1b, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
