$White: #ffffff;
$Black: #231b1b;
$Grey: #fdfffc;
$Blue: #1c6dd0;
$pink: #fa4eab;

@font-face {
  font-family: detroit;
  src: url("../../fonts/BARTKEY.otf") format("opentype");
}

.title {
  text-align: center;
  font-size: 12vh;
  margin: 0px;
  padding: 0px;
  color: $Grey;
  font-family: "detroit", sans-serif;
  text-shadow: 4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b, 4px 4px 4px #231b1b,
    4px 4px 4px #231b1b, 4px 4px 4px #231b1b;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 10vh;
  }
}
