$White: #ffffff;
$Black: #231b1b;
$Grey: #fdfffc;
$Blue: #1c6dd0;
$pink: #fa4eab;

.buttonSocial {
  background-color: $Blue;
  border: 0 solid $Grey;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  width: 25rem;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonSocial:focus {
  outline: 0;
}

.buttonSocial:after {
  content: "";
  position: absolute;
  border: 5px solid $Black;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.buttonSocial:hover:after {
  bottom: 2px;
  left: 2px;
}

.buttonSocialDark {
  background-color: $pink;
  border: 0 solid $Grey;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  width: 25rem;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonSocialDark:focus {
  outline: 0;
}

.buttonSocialDark:after {
  content: "";
  position: absolute;
  border: 5px solid $Grey;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.buttonSocialDark:hover:after {
  bottom: 2px;
  left: 2px;
}
